---
import Tag from './Tag.astro';
const { post } = Astro.props;
const tags = (post.frontmatter.tags || '')
  .split(',')
  .map((tag) => tag.trim())
  .sort();
---

<section class="flex flex-col gap-y-2 py-6">
  <div class="flex items-center">
    <a href={post.url}>
      <h3 class="text-2xl">
        {post.frontmatter.title}
      </h3>
    </a>
    <div class="flex-auto"></div>
    <time>{post.frontmatter.pubDate}</time>
  </div>
  <div class="flex flex-wrap gap-x-2 gap-y-2">{tags.map((tag) => <Tag tag={tag} />)}</div>
  <p>{post.frontmatter.description}</p>
</section>
